<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .cell{
            height: 50px;
            width: 50px;
            background-color: orange;
            border: 1px solid grey;
            border-radius: 10px;
            margin-top: 10px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="cell">
            1
        </div>
    {{ message }}
    <div v-for="i in rows" style="display: flex; content: wrap;">
        <div v-for="j in columns" style="display: flex; content: wrap;">
            <div class="cell">
                {{i}},{{j}}
            </div>
        </div>
    </div>
    
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            columns: 10,

        }
    })
    </script>
</body>
</html>